<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    </head>

  <body>
  <header class="flex justify-between items-center p-4 shadow-md bg-white bg-opacity-65">
    <a href="#" class="text-xl font-bold px-4">Ruby Dev</a>
    <a href="mailto:jhon.apu97@gmail.com" class="bg-black text-white px-5 py-2">Let's go</a>

  </header>
    <main class="">
      <%= yield %>
    </main>
  <footer class="text-center p-5 bg-black text-white">
      <p>© <%= DateTime.now.year %> Nilthon Jhon Rojas Apumayta. All rights reserved.</p>
  </footer>
  </body>

</html>
